@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

html,
body {
  font-family: "Space Grotesk", sans-serif !important;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p {
  font-family: "Space Grotesk", sans-serif !important;
  margin: 0;
  padding: 0;
}

input,
button {
  font-family: "Space Grotesk", sans-serif !important;
}
