<section class="set-02">
  <div class="set-02-content about-set">
    <h2 class="type-effect">$ About</h2>
    <ul>
      <li>> Name: <span class="highlight">Siddarth.G</span></li>
      <li>
        > Role: <span class="highlight">Frontend Developer</span> |
        <span class="highlight">UI/UX Designer</span>
      </li>
      <li>
        > Experience: 1.5+ years in building
        <span class="highlight">dynamic</span> and user-friendly
        <span class="highlight">web applications</span> using
        <span class="highlight">Angular</span>.
      </li>
      <li>
        > Passionate about: Crafting seamless
        <span class="highlight">user experiences</span> and designing visually
        engaging <span class="highlight">interfaces</span>.
      </li>
    </ul>
  </div>

  <!-- <div class="set-02-arrows">
    <span class="material-symbols-outlined" (click)="leftArrow()"> west </span>
    <span class="material-symbols-outlined" (click)="rightArrow()"> east </span>
  </div> -->
</section>
