<section class="set-01">
  <div></div>
  <div class="content">
    <div>
      <h3>Hello!</h3>
      <div class="flex-start">
        <h3>I am</h3>
        <h3 class="highlight type-effect">Siddarth</h3>
      </div>
      <p>Web Developer and Ui/Ux Designer</p>
      <div class="icons">
        <a href="https://github.com/Sids-projects" target="_blank"
          ><img src="./../assets/Github-Icon2.svg" alt="Github Icon"
        /></a>
        <a href="https://www.linkedin.com/in/mrsiddarth/" target="_blank"
          ><img src="./../assets/Linkedin-Icon.svg" alt="Linkdein Icon"
        /></a>
        <a href="https://www.npmjs.com/org/dev.spot" target="_blank"
          ><img src="./../assets/NPM-Icon.svg" alt="NPM Icon"
        /></a>
        <p (click)="routeTo('about')">
          About Me
          <span class="material-symbols-outlined"> north_east </span>
        </p>
      </div>
    </div>
    <img
      class="vector"
      src="./assets/Vector01.svg"
      alt="A Person using computer"
    />
  </div>
  <ul>
    <li>$ sudo <span class="highlight">portfolio launch</span></li>
    <li>> Initialising <span class="highlight">portfolio...</span></li>
    <li>
      > Welcome to <span class="highlight">Siddarth's</span> Terminal
      <span class="highlight">Portfolio v1.0.</span>
    </li>
    <li>
      > Select '<span class="highlight uline">projects</span>' to explore or
      '<span class="highlight uline">about</span>' to learn more about me.
    </li>
  </ul>
</section>
