<section class="set-02">
  <div class="set-02-content projects-set">
    <h2 class="type-effect">$ Projects --show</h2>
    <ul>
      <li>> 1. **<span class="highlight">CSSFusion</span>**</li>
      <li>
        - Description: A lightweight CSS utility library that simplifies web
        styling with prebuilt classes and customisable tools.
      </li>
      <li>
        - GitHub: [<span class="highlight">CSSFusion Repository</span>] (<a
          href="https://github.com/Sids-projects/CSSFusion"
          target="_blank"
          ><span class="highlight">Link</span></a
        >)
      </li>
      <li>
        - Live Demo: [<span class="highlight">CSSFusion Website</span>](<a
          href="https://sids-projects.github.io/CSSFusion/#/HomeRoute"
          target="_blank"
          ><span class="highlight">Link</span></a
        >)
      </li>
    </ul>
  </div>
</section>
