<section class="set-02">
  <div class="set-02-content projects-set">
    <h2 class="type-effect">$ Projects --show</h2>
    <ul>
      <li>> 1. **<span class="highlight">Walrec</span>**</li>
      <li>
        - Description: WalRec (Wallet Recorder) is a personal finance tracker built with Angular and Firebase, designed to help users log daily expenses and incomes effortlessly. It features real-time data management, categorized reports, and secure email-based authentication — making money management simple and organized.
      </li>
      <li>
        - GitHub: [<span class="highlight">Walrec Repository</span>] (<a
          href="https://walrec-9e5d8.web.app/"
          target="_blank"
          ><span class="highlight">Link</span></a
        >)
      </li>
      <li>
        - Live Demo: [<span class="highlight">WalRec Website</span>](<a
          href="https://walrec-9e5d8.web.app/"
          target="_blank"
          ><span class="highlight">Link</span></a
        >)
      </li>
    </ul>
  </div>
</section>
