@import url(./../assets/Font/Tanker/Fonts/css/tanker.css);
@import url(./../assets/Font/Satoshi/css/satoshi.css);

p,
ul,
ol,
small,
a {
  font-family: "Satoshi-medium";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tanker-Regular";
}

.portfolio {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444444;
  background-color: #fafafa;
  position: relative;

  .circle-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 60rem;
    background-color: #d9d9d9;
    border-radius: 50%;
  }

  .card-1 {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: #01a05a;
    width: 31rem;
    height: 42rem;
    border-radius: 1.4rem;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s;
    transform: translate(-50%, -50%);
    z-index: 5;
    overflow: hidden;

    .card-front {
      height: 100%;
      position: relative;
      padding: 1.8rem;
      margin-right: 1rem;

      .bg-img {
        position: absolute;
      }

      .leaf01 {
        transform: scaleX(-1);
        top: 2rem;
        left: 2rem;
      }

      .leaf02 {
        top: 10rem;
        right: 4rem;
      }

      .leaf03 {
        transform: scaleX(-1);
        top: 14rem;
        left: 4.5rem;
      }

      .leaf04 {
        top: 2rem;
        right: 2rem;
      }

      .grupLeaf01 {
        width: 16rem;
        right: 2rem;
        bottom: 3rem;
        z-index: 2;
      }

      .grupLeaf02 {
        width: 7rem;
        left: 2rem;
        bottom: 0;
        z-index: 2;
      }

      .mountain {
        width: 100%;
        top: 5rem;
        left: 0;
        z-index: -1;
      }

      .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        z-index: 1;

        img {
          width: 14rem;
          animation-name: main-animation;
          animation-duration: 0.8s;
          animation-play-state: running;
          animation-direction: alternate;
          animation-iteration-count: infinite;
        }

        @keyframes main-animation {
          0% {
            transform: translateY(0%);
          }
          100% {
            transform: translateY(-4%);
          }
        }

        h2 {
          font-family: "Tanker-Regular";
          font-size: 6rem;
          color: white;
        }
      }
    }

    .card-back {
      position: relative;
      height: 100%;
      padding: 2rem 2rem 2rem 2.8rem;

      .bg-img {
        position: absolute;
      }

      .leaf01 {
        top: 20%;
        left: 10%;
        transform: scaleX(-1) scale(0.8);
      }

      .leaf02 {
        top: 12%;
        right: 12%;
        transform: scale(0.9);
      }

      .leaf03 {
        transform: scaleX(-1);
        bottom: 10%;
        right: 50%;
      }

      .leaf04 {
        top: 60%;
        right: 10%;
      }

      .grupLeaf01 {
        width: 12rem;
        top: 22%;
        right: 10%;
        z-index: 2;
      }

      .grupLeaf02 {
        width: 5rem;
        left: 2rem;
        bottom: 0;
        z-index: 2;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 0.2rem;
        height: 80%;
        background-color: #086744;
        transform: translateY(-50%);
      }

      header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 1rem;

        h2 {
          font-size: 2.8rem;
          color: white;
        }

        small {
          font-size: 1.4rem;
          color: white;
        }
      }

      .content {
        margin-top: 4rem;

        h3 {
          font-size: 2.4rem;
          margin-bottom: 0.4rem;
          color: white;
        }

        p {
          font-size: 1.4rem;
          color: white;
          line-height: 2.2rem;
        }

        ul {
          margin-top: 2rem;
          list-style: none;
          line-height: 3rem;
          color: white;

          li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.6rem;

            img {
              width: 2rem;
            }
          }
        }
      }
    }

    .card-1-phn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;

      p {
        font-size: 1.4rem;
        color: white;
        line-height: 2.2rem;
        text-align: center;
      }

      ul {
        margin-top: 0.6rem;
        list-style: none;
        line-height: 3rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;

        li {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.6rem;

          img {
            width: 2.8rem;
          }
        }
      }
    }
  }

  .card-2 {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: #ed6a5a;
    width: 31rem;
    height: 42rem;
    border-radius: 1.4rem;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-74%, -62%) rotate(-7deg);
    transition: all 0.2s;
    z-index: 2;

    .card-front {
      height: 100%;
      position: relative;
      padding: 1.8rem;
      margin-right: 1rem;

      .bg-img {
        position: absolute;
      }

      .mountain {
        width: 100%;
        top: 5rem;
        left: 0;
        z-index: -1;
      }

      .gray-paste01 {
        transform: scaleX(-1);
        width: 2.4rem;
        top: 2rem;
        right: 4rem;
      }

      .gray-paste02 {
        transform: scaleX(-1);
        width: 2.4rem;
        bottom: 2rem;
        left: 4rem;
        z-index: 1;
      }

      .yellow-paste01 {
        transform: rotate(180deg) scaleX(-1);
        width: 4.8rem;
        top: 2rem;
        left: 2.4rem;
      }

      .yellow-paste02 {
        transform: scaleX(-1);
        width: 4.8rem;
        bottom: 3.6rem;
        right: 2.4rem;
        z-index: 1;
      }

      .gray-ball01 {
        top: 5%;
        right: 24%;
        transform: scale(0.7);
      }

      .gray-ball02 {
        top: 25%;
        left: 7%;
        transform: scale(0.6);
      }

      .gray-ball03 {
        top: 35%;
        right: 5%;
        transform: scale(0.8);
      }

      .ground-left {
        width: 100%;
        bottom: 0;
        left: 0;
      }

      .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        z-index: 1;

        img {
          width: 24rem;
          animation-name: main-animation;
          animation-duration: 0.8s;
          animation-play-state: running;
          animation-direction: alternate;
          animation-iteration-count: infinite;
        }

        @keyframes main-animation {
          0% {
            transform: translateY(0%);
          }
          100% {
            transform: translateY(-4%);
          }
        }

        h2 {
          font-size: 6rem;
          color: white;
        }
      }
    }

    .card-back {
      position: relative;
      height: 100%;
      padding: 2rem 2rem 2rem 2.8rem;

      .bg-img {
        position: absolute;
      }

      .gray-paste01 {
        transform: scaleX(-1);
        width: 2.4rem;
        top: 2rem;
        right: 4rem;
      }

      .gray-paste02 {
        transform: scaleX(-1);
        width: 2.4rem;
        bottom: 2rem;
        left: 4rem;
      }

      .yellow-paste01 {
        transform: rotate(180deg) scaleX(-1);
        width: 4.8rem;
        top: 2rem;
        left: 2.4rem;
      }

      .yellow-paste02 {
        transform: scaleX(-1);
        width: 4.8rem;
        bottom: 3.6rem;
        right: 2.4rem;
        z-index: 1;
      }

      .gray-ball01 {
        top: 7%;
        right: 30%;
      }

      .gray-ball02 {
        top: 30%;
        left: 10%;
      }

      .gray-ball03 {
        top: 34%;
        left: 25%;
        scale: 0.6;
      }

      .gray-ball04 {
        top: 40%;
        right: 18%;
      }

      .gray-ball05 {
        top: 28%;
        right: 10%;
        scale: 0.6;
      }

      .gray-ball06 {
        bottom: 12%;
        left: 30%;
        transform: scale(0.8);
      }

      .yellow-ball {
        top: 21%;
        left: 21%;
        scale: 0.7;
      }

      .ground-right {
        width: 100%;
        bottom: 0;
        left: 0;
        transform: scaleX(-1);
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 0.2rem;
        height: 80%;
        background-color: #b05044;
        transform: translateY(-50%);
      }

      header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 1rem;

        h2 {
          font-size: 2.8rem;
          color: white;
        }

        small {
          font-size: 1.4rem;
          color: white;
        }
      }

      .content {
        margin-top: 4rem;
        z-index: 2;

        h3 {
          font-size: 2.4rem;
          margin-bottom: 0.4rem;
          color: white;
        }

        p {
          font-size: 1.4rem;
          color: white;
          line-height: 2.2rem;
        }

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.6rem;
          margin-top: 1rem;
          font-weight: 500;
          color: #9c473d;
          font-size: 1.6rem;
          letter-spacing: 0.1rem;
        }
      }
    }

    .card-2-phn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;

      p {
        font-size: 1.4rem;
        color: white;
        line-height: 2.2rem;
        text-align: center;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.6rem;
        margin-top: 1rem;
        font-weight: 500;
        color: #9c473d;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
      }
    }
  }

  .card-3 {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: #006cd7;
    width: 31rem;
    height: 42rem;
    border-radius: 1.4rem;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transition: all 0.1s;
    transform: translate(-26%, -62%) rotate(7deg);
    overflow: hidden;

    .card-front {
      height: 100%;
      position: relative;
      padding: 1.8rem;

      .bg-img {
        position: absolute;
      }

      .mountain {
        width: 100%;
        top: 5rem;
        left: 0;
        z-index: -1;
      }

      .ground-left {
        width: 95%;
        bottom: 0;
        left: 0;
      }

      .pin01 {
        top: 5%;
        left: 5%;
      }

      .pin02 {
        top: 8%;
        right: 8%;
        transform: scaleX(-1) scale(0.8);
      }

      .pin03 {
        bottom: 8%;
        left: 5%;
      }

      .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        z-index: 1;

        img {
          width: 20rem;
          animation-name: main-animation;
          animation-duration: 0.8s;
          animation-play-state: running;
          animation-direction: alternate;
          animation-iteration-count: infinite;
        }

        @keyframes main-animation {
          0% {
            transform: translateY(0%);
          }
          100% {
            transform: translateY(-4%);
          }
        }

        h2 {
          font-family: "Tanker-Regular";
          font-size: 6rem;
          margin-bottom: 2rem;
          color: white;
        }
      }
    }

    .card-back {
      position: relative;
      height: 100%;
      padding: 2rem 2rem 2rem 2.8rem;

      .bg-img {
        position: absolute;
      }

      .ground-right {
        width: 95%;
        bottom: 0;
        right: 0;
        transform: scaleX(-1);
      }

      .pin01 {
        top: 8%;
        right: 8%;
        transform: scaleX(-1) scale(0.8);
      }

      .pin02 {
        bottom: 10%;
        left: 12%;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 0.2rem;
        height: 80%;
        background-color: #0d559d;
        transform: translateY(-50%);
      }

      header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 1rem;

        h2 {
          font-size: 2.8rem;
          color: white;
        }

        small {
          font-size: 1.4rem;
          color: white;
        }
      }

      .content {
        margin-top: 4rem;

        h3 {
          font-size: 2.4rem;
          margin-bottom: 0.4rem;
          color: white;
        }

        p {
          font-size: 1.4rem;
          color: white;
          line-height: 2.2rem;
        }

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.6rem;
          margin-top: 1rem;
          font-weight: 500;
          color: #084482;
          font-size: 1.6rem;
          letter-spacing: 0.1rem;
        }
      }
    }

    .card-3-phn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;

      p {
        font-size: 1.4rem;
        color: white;
        line-height: 2.2rem;
        text-align: center;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.6rem;
        margin-top: 1rem;
        font-weight: 500;
        color: #6c63ff;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
      }
    }
  }

  .inactive-card02 {
    &:hover {
      transform: translate(-76%, -64%) rotate(-9deg);
    }
  }

  .inactive-card03 {
    &:hover {
      transform: translate(-24%, -64%) rotate(9deg);
    }
  }

  .active-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.2s;
    z-index: 5;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .active-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.2s;
    z-index: 5;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  @media only screen and (max-width: 650px) {
    .card-2 {
      transform: translate(-68%, -62%) rotate(-4deg);
    }

    .active-2 {
      transform: translate(-50%, -49%) rotate(0deg);
    }

    .inactive-card02 {
      &:hover {
        transform: translate(-70%, -64%) rotate(-6deg);
      }
    }

    .card-3 {
      transform: translate(-32%, -62%) rotate(4deg);
    }

    .inactive-card03 {
      &:hover {
        transform: translate(-28%, -64%) rotate(6deg);
      }
    }

    .active-3 {
      transform: translate(-50%, -49%) rotate(0deg);
    }

    .circle-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50rem;
      height: 50rem;
      background-color: #d9d9d9;
      border-radius: 50%;
    }
  }

  @media only screen and (max-width: 520px) {
    .card-1 {
      transform: translate(-50%, -50%) scale(0.8);
    }

    .card-2 {
      transform: translate(-65%, -64%) rotate(-6deg) scale(0.8);
    }

    .card-3 {
      transform: translate(-36%, -62%) rotate(7deg) scale(0.8);
    }

    .inactive-card02 {
      &:hover {
        transform: translate(-68%, -66%) rotate(-6deg) scale(0.8);
      }
    }

    .inactive-card03 {
      &:hover {
        transform: translate(-32%, -64%) rotate(6deg) scale(0.8);
      }
    }

    .active-2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.2s;
      z-index: 5;
      transform: translate(-50%, -50%) rotate(0deg) scale(0.8);
    }

    .active-3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.2s;
      z-index: 5;
      transform: translate(-50%, -50%) rotate(0deg) scale(0.8);
    }

    .circle-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 42rem;
      height: 42rem;
      background-color: #d9d9d9;
      border-radius: 50%;
    }
  }
}
