@if (showNav) {
<main class="portfolio">
  <section class="card_view card_1">
    <div>
      <header>
        <img src="./../assets/Portfolio/Portfolio.svg" />
      </header>
      <div class="content_1">
        <!-- <img src="./assets/Portfolio/bitmap.png" class="profile_pic" /> -->
        <p class="sub-title">Siddarth.G</p>
        <h2 class="title">Portfolio</h2>
        <p class="desc">Frontend Developer | Ui/Ux</p>
      </div>
    </div>
    <button type="button">More</button>
  </section>

  <section
    class="card_view"
    [ngClass]="{ card_2_active: cardTwoActive, card_2: !cardTwoActive }"
    (click)="cardTwo()"
  >
    <div>
      <header>
        <img src="./../assets/Portfolio/DevRouter.svg" />
      </header>
      <div class="content_1">
        <p class="sub-title">Bookmarks</p>
        <h2 class="title">Dev<small>_</small>Router</h2>
        <!-- <span class="line"></span> -->
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor
          assumenda rem recusandae qui nobis quae asperiores aut esse, mollitia
          neque!
        </p>
      </div>
    </div>
    <button routerLink="DevRouter" (click)="navigate()">Route</button>
  </section>

  <section
    class="card_view"
    [ngClass]="{ card_3_active: cardThreeActive, card_3: !cardThreeActive }"
    (click)="cardThree()"
  >
    <div>
      <header>
        <img src="./../assets/Portfolio/CSSGenie.svg" />
      </header>
      <div class="content_1">
        <p class="sub-title">Components</p>
        <h2 class="title">CSS<small>_</small>Genie</h2>
        <!-- <span class="line"></span> -->
        <p class="desc">
          CSSGenie is your creative buddy for crafting personalised, responsive
          CSS components, simplifying the process and letting the magic happen!
        </p>
      </div>
    </div>
    <button routerLink="CGHome" (click)="navigate()">Design</button>
  </section>
</main>
} @else {
<router-outlet></router-outlet>
}
