<main>
  <h2 class="logo">Book<img src="./../assets/logo.svg" />arks</h2>
  <section class="body">
    <ng-container *ngFor="let link of propArr">
      <div class="container">
        <div class="title">
          <div class="overlay"></div>
          <h2>{{ link.value }}</h2>
        </div>

        <div class="card-component" *ngFor="let data of links[0][link.loop]">
          <img [src]="data.img" />
          <div>
            <a [href]="data.link" target="_blank">
              <h3>{{ data.title | truncate : 3 }}</h3>
              <p>{{ data.desc | truncate : 6 }}</p>
              <small>{{ data.link | truncate : 3 : 20 }}</small>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
</main>
