h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Space Grotesk", sans-serif !important;
}

main {
  font-family: "Space Grotesk", sans-serif !important;
  background-color: #f2f2f2;
  height: 100vh;
  display: grid;
  grid-template-columns: 8rem 1fr;
  overflow: hidden;

  &.layout-three-columns {
    grid-template-columns: 8rem 1fr 1fr;
  }

  &.layout-two-columns {
    grid-template-columns: 8rem 1fr;
  }

  .app-nav {
    background-color: #ffffff;
    height: 100vh;
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    span {
      font-size: 3rem !important;
      cursor: pointer;
      margin: auto;
    }

    .nav-links {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      p {
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;
        color: #adadad;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
        transition: all 0.1s;
      }

      .active-menu {
        font-size: 1.2rem;
        font-weight: 800;
        color: #4672ff !important;
      }
    }
  }

  .app-info {
    background-color: #4672ff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 4rem 0 4rem;

    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #ffffff;

      p {
        font-weight: 500;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.6rem;
        cursor: pointer;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2.4rem;
      }
    }

    .info-content {
      text-align: center;
      color: white;

      h2 {
        font-size: 5rem;
        font-weight: 800;
        margin-bottom: 2rem;
      }

      p {
        min-width: 20rem;
        width: 100%;
        max-width: 50rem;
        margin: 0 auto;
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }

    img {
      min-width: 10rem;
      width: 100%;
      max-width: 50rem;
      margin: 0 auto;
    }
  }

  .content {
    box-sizing: border-box;
    background-color: #fafafa;
    height: 100%;
    overflow-y: scroll;

    .card-box {
      display: grid;
      grid-template-columns: repeat(auto-fit, 18rem);
      align-items: center;
      justify-content: center;
      gap: 4rem;
      padding: 4rem;

      .card-view {
        text-decoration: none;
        height: 18rem;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 14px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        background-color: white;
        border-radius: 0.6rem;
        display: grid;
        grid-template-rows: auto 1fr;
        position: relative;
        flex-shrink: 0;
        flex-grow: 0;
        overflow: hidden;
        scale: 0;
        animation: cardAnimation 1s ease forwards;

        img {
          width: 2.4rem;
          position: absolute;
          top: 0;
          right: 1.4rem;
        }

        .set-01 {
          background-color: #4672ff;
          height: 9rem;
        }

        .set-02 {
          padding: 1.4rem 5rem 1.4rem 1.4rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          h3 {
            font-size: 1.6rem;
            font-weight: 600;
            color: #3f3d56;
            line-height: 2rem;
            margin-bottom: 0.4rem;
          }

          p {
            font-size: 1.2rem;
            color: #959595;
            font-weight: 500;
            line-height: 1.6rem;
          }
        }
      }
    }
  }
}

@keyframes cardAnimation {
  0% {
    scale: 0;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}

@media only screen and (max-width: 1039px) {
  main {
    font-family: "Space Grotesk", sans-serif !important;
    background-color: #f2f2f2;
    height: 100vh;
    display: grid;
    grid-template-columns: 8rem 1fr;
    overflow: hidden;

    &.layout-three-columns {
      grid-template-columns: 8rem 1fr auto !important;
    }

    &.layout-two-columns {
      grid-template-columns: 8rem 1fr;
    }
  }
}

@media only screen and (max-width: 850px) {
  main {
    grid-template-columns: 1fr !important;
    grid-template-rows: 6rem 1fr;
    background-color: white;

    &.layout-three-columns {
      grid-template-columns: 1fr !important;
      grid-template-rows: 7rem 18rem 1fr !important;
      align-items: center;
    }

    &.layout-two-columns {
      grid-template-columns: 1fr !important;
      grid-template-rows: 7rem 1fr !important;
      align-items: center;
    }
  }

  .app-nav {
    height: fit-content !important;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 1fr !important;

    .nav-links {
      height: fit-content !important;
      flex-direction: row !important;
    }
  }

  .app-info {
    background-color: #4672ff;
    height: 100%;
    padding: 0 1rem !important;

    header {
      padding: 1.8rem !important;
    }

    .info-content {
      h2 {
        font-size: 2.8rem !important;
        margin-bottom: 0.6rem !important;
      }

      p {
        font-size: 1.4rem !important;
        line-height: 2rem !important;
        padding: 0 !important;
        margin-bottom: 1.4rem !important;
      }
    }
  }

  .content {
    .card-box {
      gap: 1rem !important;
      padding: 4rem 2rem !important;

      .card-view {
        transform: scale(0.8) !important;
      }
    }
  }
}
