<main
  [ngClass]="
    menuName.value !== 'Home' ? 'layout-three-columns' : 'layout-two-columns'
  "
>
  <nav class="app-nav">
    <span class="material-symbols-outlined" (click)="scrollNavLeft()">
      {{ currentScreenWidth < 850 ? "arrow_left" : "arrow_drop_up" }}
    </span>
    <div class="nav-links" #navLinks>
      @for (item of propArr; track $index) {
      <p
        (click)="menuSelected(item)"
        [ngClass]="menuName.value === item.value ? 'active-menu' : 'Home'"
      >
        <span class="material-symbols-outlined"> {{ item.icon }} </span>
        {{ item.value }}
      </p>
      }
    </div>
    <span class="material-symbols-outlined" (click)="scrollNavRight()">
      {{ currentScreenWidth < 850 ? "arrow_right" : "arrow_drop_down" }}
    </span>
  </nav>

  <section class="app-info">
    <header>
      <p>
        <span class="material-symbols-outlined"> explore_nearby </span> Router
      </p>
      <div>
        <p>About</p>
        <p routerLink="/">Portfolio</p>
      </div>
    </header>
    <div class="info-content">
      <h2>{{ menuName.value }}</h2>
      <p>
        {{ menuName.desc }}
      </p>
    </div>
    @if (currentScreenWidth > 850) {
    <img src="./assets/DevRouter/RouterImg.svg" />
    } @if (currentScreenWidth < 850 && menuName.value == 'Home') {
    <img src="./assets/DevRouter/RouterImg.svg" />
    }
  </section>

  @if (menuName.value !== 'Home') {
  <section class="content">
    @for (link of propArr; track $index) {
    <ng-container>
      @if (link.value === menuName.value) {
      <div class="card-box">
        <a
          class="card-view"
          [href]="data.link"
          target="_blank"
          *ngFor="let data of links[0][link.loop]; let i = index"
          [ngStyle]="{ 'animation-delay': i * 0.2 + 's' }"
        >
          <img [src]="data.img" />
          <div class="set-01"></div>
          <div class="set-02">
            <h3>{{ data.title | truncate : 3 }}</h3>
            <p>{{ data.desc | truncate : 6 }}</p>
          </div>
        </a>
      </div>
      }
    </ng-container>
    }
  </section>
  }
</main>
