<section class="set-02">
  <div class="set-02-content skills-set">
    <h2 class="type-effect">$ Skills --list</h2>
    <ul>
      <li>
        > Frontend Development: <span class="highlight">HTML5</span>,
        <span class="highlight">CSS3</span>,
        <span class="highlight">JavaScript</span>,
        <span class="highlight">TypeScript</span>,
        <span class="highlight">Angular</span>
      </li>
      <li>
        > UI/UX Design Tools: <span class="highlight">Adobe Illustrator</span>,
        <span class="highlight">Photoshop</span>,
        <span class="highlight">Figma</span>,
        <span class="highlight">Inkscape</span>
      </li>
      <li>
        > Additional: <span class="highlight">Problem-solving</span>,
        <span class="highlight">collaborative development</span>,
        <span class="highlight">responsive design</span>
      </li>
    </ul>
  </div>
</section>
