<section class="set-02">
  <div class="set-02-content experience-set">
    <h2 class="type-effect">$ Experience --current</h2>
    <ul>
      <li>
        > 2025 - <span class="highlight">PRESENT</span> |
        <span class="highlight">Vsolv Engineering Private Ltd</span>, Chennai
      </li>
      <li>
        > Role: <span class="highlight">Frontend Developer</span> |
        <span class="highlight">UI/UX Designer</span>
      </li>
      <li>
        > Achievements:
        <ol>
          <li>- Designed and developed responsive web apps with Angular.</li>
          <li>
            - Collaborated with cross-functional teams for functional and
            aesthetic solutions.
          </li>
          <li>
            - Enhanced user experience using modern tools like Adobe Illustrator
            and Figma.
          </li>
          <li>- Ensured optimal performance and cross-device compatibility.</li>
          <li>- Delivered high-quality projects within deadlines.</li>
        </ol>
      </li>
    </ul>
  </div>
</section>
